{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>About Us - Lignum Custom Desing</title>
{% endblock %}
{% block body %}
   <div class="offset"></div>
    <div class="dark-wrapper">
        <div class="container inner" style="padding-bottom: 0px;">
            <div class="row">
                <div class="col-xs-12 col-sm-8"><h3 class="main-title text-center no-line" style="text-align: left;">
                    About Lignum Architectural Woodwork
                </h3>
                    <ul>
                        <li>Focused and experieced on <strong>high-end</strong> residential and commercial projects</li>
                        <li><strong>15 years</strong> of <strong>experience</strong> with national and international customers</li>
                        <li><strong>Communication</strong> with our clients</li>
                        <li><strong>High quality</strong></li>
                        <li><strong>Fast</strong> production times</li>
                        <li><strong>Impressive and unique</strong> pieces</li>
                        <li><strong>Good taste</strong>, integrity and perseverance        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-xs-6"><strong>Nelson Paredes</strong><span style="display: block;">CEO</span>
                        </div>
                        <div class="col-xs-6">
                            <figure><img src="{% static "/images/team/role1.png"%}" alt=""/></figure>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-xs-6"><strong>Julio Lee</strong><span
                                style="display: block;">Project Manager</span></div>
                        <div class="col-xs-6">
                            <figure><img src="{% static "/images/team/role2.png"%}" alt=""/></figure>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="main-title text-center no-line" style="text-align: left;">How we do it</h3>
            </strong>
            </h3>
            <p align="top" >
                Our propose is to reflect your image with the architectural
                woodworking. We believe that teamwork competence comunication,
                perseverance, integrity and termination quality are the principal
                advantages that have contributed to our years of success.
                When our customers and their designers select or recommend our firm,
                they are confient that these values are guarenteed.
            </p></div></div>
            </div>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner"><h3 class="main-title text-center no-line"><strong>
            Feature Projects
        </strong></h3>
            <div class="carousel-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="carousel carousel-boxed portfolio">
                    <div class="item">
                        <figure><img src="{% static "/images/projects/the-conrad-hotel/the-conrad-hotel-01-400x300.jpg" %}" alt="The Conrad Hotel"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a href="{% static "images/projects/the-conrad-hotel" %}">The Conrad Hotel</a></h4><span class="meta category"><a href="">Miami Beach</a></span></div>
                    </div>
                    <div class="item">
                        <figure><img src="{% static "/images/projects/tapas-tintos-south-beach/tapas-tintos-south-beach-2-400x300.jpg" %}" alt="Tapas &amp; Tintos South Beach"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a href="{% static "images/projects/tapas-tintos-south-beach" %}">
                            Tapas &amp; Tintos South Beach
                        </a></h4><span class="meta category"><a href="">
                                    Miami Beach
                                </a></span></div>
                    </div>
                    <div class="item">
                        <figure><img
                                src="{% static "/images/projects/sheraton-four-points-hotel/sheraton-four-points-hotel-1-400x300.jpg" %}"
                                alt="Sheraton Four Points Hotel"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a
                                href="{% static "images/projects/sheraton-four-points-hotel" %}">
                            Sheraton Four Points Hotel
                        </a></h4><span class="meta category"><a href="">
                                    Miami Beach
                                </a></span></div>
                    </div>
                    <div class="item">
                        <figure><img src="{% static "/images/projects/bodega-south-beach/bodega-south-beach-1-400x300.jpg" %}"
                                     alt="Bodega South Beach"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a href="{% static "images/projects/bodega-south-beach" %}">
                            Bodega South Beach
                        </a></h4><span class="meta category"><a href="">
                                    Miami Beach
                                </a></span></div>
                    </div>
                    <div class="item">
                        <figure><img src="{% static "/images/projects/porfirio-restaurant/pofirio-restaurant-6-400x300.jpg" %}"
                                     alt="Porfirio&#039;s Restaurant"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a href="{% static "images/projects/porfirio-restaurant" %}">Porfirio&#039;s Restaurant</a></h4><span class="meta category"><a href="">Miami Beach</a></span></div>
                    </div>
                    <div class="item">
                        <figure><img src="{% static "/images/projects/shelborne-lounge-bar/shelborne-lounge-bar-1-400x300.jpg" %}" alt="Shelborne Lounge Bar"/></figure>
                        <div class="box text-center"><h4 class="post-title"><a href="{% static "images/projects/shelborne-lounge-bar" %}">Shelborne Lounge Bar</a></h4><span class="meta category"><a href="">Miami Beach</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}