{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
{% endblock %}
    <meta charset="UTF-8">
    {% block meta %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/plugins.css" %}" rel="stylesheet">
    <link href="{% static "css/style/style.css" %}" rel="stylesheet">
    <link href="{% static "css/color/blue.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href="{% static "css/icons/icons.css" %}" rel="stylesheet">
    <link href="{% static "css/frontend.css" %}"" rel="stylesheet" type="text/css" /><
{% block head %}
{% endblock %}
</head>
<body>
<div class="body-wrapper">
    <nav class="yamm navbar navbar-default default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="basic-wrapper"><a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
                    <div class="navbar-brand"><img alt="Lignum Custom Desing" src="{% static "/images/logo/logo.png" %}" data-src="{% static "/images/logo/logo.png" %}" data-ret="{% static "/images/logo/logo.png" %}" class="retina" style="height: 65px; width: auto;"
                    /></div>
                </div>
            </div>
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="current"><a href="/home" class="">HOME</a></li>
                    <li class=""><a href="/about" class="">ABOUT</a></li>
                    <li class=""><a href="/portfolio" class="">PORTFOLIO</a></li>
                    <li class=""><a href="/testimonials" class="">TESTIMONIALS</a></li>
                    <li class=""><a href="/clients" class="">CLIENTS</a></li>
                    <li class=""><a href="/contact" class="">CONTACT</a></li>
                    <li><a href="" class=""title="ACCEPTING HERE"style="padding: 32px 0;"><img alt="" src="{% static "/images/logo/coins/bit-coin.png" %}" data-src="{% static "/images/coins/bit-coin.png" %}" data-ret="{% static "/images/coins/bit-coin.png" %}" class="retina" style="height: 30px; width: auto;"/></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block body %}
{% endblock %}
<footer class="footer inverse-wrapper">
        <div class="sub-footer">
            <div class="container"><p class="pull-left">
                &copy; 2016 Lignum Custom Desing - All Rights Reserved.
            </p>
                <ul class="social pull-right">
                    <li><a href="https://twitter.com/hashtag/LignumCD"><i class="icon-s-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/Lignumcustomdesign/"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="https://www.pinterest.com/Lignumcd/"><i class="icon-s-pinterest"></i></a></li>
                    <li><a href="https://www.linkedin.com/company-beta/3330995/"><i class="icon-s-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
    <a id="contact-info-button" href="#contact-info"><i class="icon-mail-1"></i></a>
    <div id="contact-info">
        <div class="modal-content">
            <div class="container inner">
                <div class="thin"><h2 class="main-title text-center no-line"><strong>
                    Get in Touch
                </strong></h2>
                    <div class="divide30"></div>
                    <div class="row text-center text-boxes">
                        <div class="col-sm-4">
                            <div class="icon bm20"><img src="{% static "/images/theme/icons/icon-worldmap.png" %}" data-src="{% static "/images/theme/icons/icon-worldmap.png" %}" data-ret="{% static "/images/theme/icons/icon-worldmap@2x.png" %}" class="retina" alt=""/></div>
                            <p>
                                7010 SW 4th St, Miami, FL 33144
                            </p></div>
                        <div class="col-sm-4">
                            <div class="icon bm20"><img src="{% static "/images/theme/icons/icon-phone.png" %}" data-src="{% static "/images/theme/icons/icon-phone.png" %}" data-ret="{% static "/images/theme/icons/icon-phone@2x.png" %}" class="retina" alt=""/></div>
                            <p><abbr title="Phone">P:</abbr>
                                (786) 472-1833 <BR><abbr title="Fax">F:</abbr>
                                305-397-2204
                            </p></div>
                        <div class="col-sm-4">
                            <div class="icon bm20"><img src="{% static "/images/theme/icons/icon-openmail.png" %}" data-src="{% static "/images/theme/icons/icon-openmail.png" %}" data-ret="{% static "/images/theme/icons/icon-openmail@2x.png" %}" class="retina" alt=""/></div>
                            <p><a class="nocolor" href="mailto:#">
                                info@lignumcd.com
                            </a></p></div>
                    </div>
                    <div class="divide50"></div>
                    <div class="form-container">
                        <form action="contact/vanilla-form.php" method="post" class="vanilla-modal vanilla-form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-field"><label><input type="text" name="name" placeholder="Your name" required="required"><i class="icon-user"></i></label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field"><label><input type="email" name="email" placeholder="Your e-mail" required="required"><i class="icon-mail-alt"></i></label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field"><label><input type="tel" name="tel" placeholder="Phone"><i class="icon-phone"></i></label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field"><label class="custom-select"><select name="department" required="required">
                                        <option value="">Select Department</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Support">Customer Support</option>
                                        <option value="Other">Other</option>
                                    </select><i class="icon-ok"></i><span><!-- fake select handler --></span></label>
                                    </div>
                                </div>
                            </div>
                            <textarea name="message" placeholder="Type your message here..."></textarea>
                            <div class="radio-set"><label>Subject:</label><label><input type="radio" name="subject" value="General"><span><!-- fake radio --></span>General</label><label><input type="radio" name="subject" value="Hi"><span><!-- fake radio --></span>Say Hi
                            </label><label><input type="radio" name="subject" value="Other"><span><!-- fake radio --></span> Other</label></div>
                            <input type="submit" class="btn" value="Send" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">
                            <footer class="notification-box"></footer>
                        </form>
                    </div>
                </div>
            </div><!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
          <a id="btn-close-modal" class="close-contact-info"><i class="icon-cancel-1"></i></a></div>
    </div>
<script src="{% static "/js/frontend.js" %}" type="text/javascript" ></script>
</body>
</html>