{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>Clients - Lignum Custom Desing</title>
{% endblock %}
{% block body %}
    <div class="offset"></div>
    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/the-breakers.png"%}"
                        alt="THE BREAKERS" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/viceroy.png"%}"
                                                                                    alt="VICEROY" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/hilton.png"%}"
                                                                                    alt="Hilton" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/the-ritz-carlton.png"%}"
                        alt="The Ritz-Carlton" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/live-nation.png"%}"
                                                                                    alt="LIVE NATION"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/sanctuary-south-beach.png"%}"
                        alt="Sanctuary South Beach" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/double-tree.png"%}"
                                                                                    alt="Double Tree"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/mondrian.png"%}"
                                                                                    alt="MONDRIAN"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/epic.png"%}"
                                                                                    alt="EPIC. MIAMI A KIMPTON HOTEL"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/wyndham.png"%}"
                                                                                    alt="WYNDHAM" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/menin-hotels.png"%}"
                        alt="MENIN HOTELS" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/marriott.png"%}"
                                                                                    alt="MARRIOTT"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/westing-hotel-resorts.png"%}"
                        alt="Westing Hotel Resorts" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/shelborne.png"%}"
                                                                                    alt="Shelborne"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/the-fillmore.png"%}"
                        alt="THE FILLMORE" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/four-points.png"%}"
                                                                                    alt="FOUR POINTS"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/porfirios-restaurante.png"%}"
                        alt="PORFIRIOS RESTAURANTE" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/add-inc.png"%}"
                                                                                    alt="ADD Inc" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/asmayda.png"%}"
                                                                                    alt="Asmayda" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/borges.png"%}"
                                                                                    alt="Borges associates"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/crescent-heights.png"%}"
                        alt="CRESCENT HEIGHTS" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/florida-international-university.png"%}"
                        alt="FIU Florida International University" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/hospitality-desing-consultants.png"%}"
                        alt="HDC Hospitality Desing Consultants" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/guyandgirl.png"%}"
                                                                                    alt="GUYandGIRL"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/hitt.png"%}"
                                                                                    alt="HITT" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/kobi-karp.png"%}"
                                                                                    alt="KOBI KARP"
                                                                                    style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/wade-allyn-hallock.png"%}"
                        alt="WADE ALLIYN HALOCK" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/mi-call.png"%}"
                                                                                    alt="MiCal" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/stellar.png"%}"
                                                                                    alt="STELLAR" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/staarchitectural-group.png"%}"
                        alt="STAARCHITECTURAL GROUP" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/creme.png"%}"
                                                                                    alt="CREME" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/dds.png"%}"
                                                                                    alt="DSS" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/ibt.png"%}"
                                                                                    alt="IBT" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img
                        src="{% static "/images/brands/the-parker-company.png"%}"
                        alt="THE PARKER COMPANY" style="width: 100%;"/></div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/claro.png"%}"
                                                                                    alt="CLARO" style="width: 100%;"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3" style="padding: 10px;"><img src="{% static "/images/brands/weitz.png"%}"
                                                                                    alt="WEITZ" style="width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}