{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
{% block title %}
 <title>Lignum Custom Designs</title>
{% endblock %}
<div class="light-wrapper">
        <div class="tp-fullscreen-container revolution">
            <div id="home-tp-fullscreen">
                <ul>
                    <li data-transition="fade" data-slotamount="15" data-masterspeed="15000">
                        <div class="tp-caption tp-fade fadeout fullscreenvideo"
                             data-x="0"
                             data-y="0"
                             style="z-index: 1;">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/O5EurpCSuDs?showinfo=0&rel=0&autoplay=1&mute=1"
                                    frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500"><img src="{% static "images/slider-home/the-conrad-hotel-03.jpg" %}"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"/>
                        <div class="tp-caption main-title dark-layer sfb" data-x="center" data-y="120" data-speed="600" data-start="500" data-endspeed="100" data-easing="Sine.easeOut"><strong>Lignum CustomDesing</strong></div>
                        <div class="tp-caption lead dark-layer sfb text-center" data-x="center" data-y="220" data-speed="600" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut">Texto home-1 (pendiente)</div>
                        <div class="tp-caption sfb" data-x="center" data-y="320" data-speed="600" data-start="2000" data-easing="Sine.easeOut" data-endspeed="100"><a href="/contact" class="btn btn-border">Contact us now</a></div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500"><img src="{% static "/images/slider-home/menin-hotel-office.jpg" %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat"/>
                        <div class="tp-caption main-title dark-layer sfb" data-x="center" data-y="120" data-speed="500" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">Lignum Custom Desing</div>
                        <div class="tp-caption lead dark-layer sfb text-center" data-x="center" data-y="220" data-speed="600" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut">Texto home-2 (pendiente)</div>
                        <div class="tp-caption sfb" data-x="center" data-y="320" data-speed="600" data-start="2000" data-easing="Sine.easeOut" data-endspeed="100"><a href="/portfolio" class="btn ">Portfolio</a></div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <div class="light-wrapper">
        <div class="container-fluid" style="padding: 0;"><h3 class="main-title text-center no-line" style="background-color: #21262a;padding: 1em 0;margin: 0;color: #ececec;"><strong>Our Clients</strong></h3></div>
        <div class="container inner">
            <div class="carousel-wrapper">
                <div class="carousel clients">
                    <div class="item"><img src="{% static "/images/brands/the-breakers.png" %}" alt="THE BREAKERS"/></div>
                    <div class="item"><img src="{% static "/images/brands/viceroy.png" %}" alt="VICEROY"/></div>
                    <div class="item"><img src="{% static "/images/brands/hilton.png" %}" alt="Hilton"/></div>
                    <div class="item"><img src="{% static "/images/brands/the-ritz-carlton.png" %}" alt="The Ritz-Carlton"/></div>
                    <div class="item"><img src="{% static "/images/brands/live-nation.png" %}" alt="LIVE NATION"/></div>
                    <div class="item"><img src="{% static "/images/brands/sanctuary-south-beach.png" %}" alt="Sanctuary South Beach" /></div>
                    <div class="item"><img src="{% static "/images/brands/double-tree.png" %}" alt="Double Tree"/></div>
                    <div class="item"><img src="{% static "/images/brands/mondrian.png" %}" alt="MONDRIAN"/></div>
                    <div class="item"><img src="{% static "/images/brands/epic.png" %}" alt="EPIC. MIAMI A KIMPTON HOTEL"/></div>
                    <div class="item"><img src="{% static "/images/brands/wyndham.png" %}" alt="WYNDHAM"/></div>
                    <div class="item"><img src="{% static "/images/brands/menin-hotels.png" %}" alt="MENIN HOTELS"/></div>
                    <div class="item"><img src="{% static "/images/brands/marriott.png" %}" alt="MARRIOTT"/></div>
                    <div class="item"><img src="{% static "/images/brands/westing-hotel-resorts.png" %}" alt="Westing Hotel Resorts"/></div>
                    <div class="item"><img src="{% static "/images/brands/the-fillmore.png" %}" alt="THE FILLMORE"/></div>
                    <div class="item"><img src="{% static "/images/brands/four-points.png" %}" alt="FOUR POINTS"/></div>
                    <div class="item"><img src="{% static "/images/brands/porfirios-restaurante.png" %}" alt="PORFIRIOS RESTAURANTE"/></div>
                    <div class="item"><img src="{% static "/images/brands/add-inc.png" %}" alt="ADD Inc"/></div>
                    <div class="item"><img src="{% static "/images/brands/asmayda.png" %}" alt="Asmayda"/></div>
                    <div class="item"><img src="{% static "/images/brands/borges.png" %}" alt="Borges associates"/></div>
                    <div class="item"><img src="{% static "/images/brands/crescent-heights.png" %}" alt="CRESCENT HEIGHTS"/></div>
                    <div class="item"><img src="{% static "/images/brands/florida-international-university.png" %}" alt="FIU Florida International University"/></div>
                    <div class="item"><img src="{% static "/images/brands/hospitality-desing-consultants.png" %}" alt="HDC Hospitality Desing Consultants"/></div>
                    <div class="item"><img src="{% static "/images/brands/guyandgirl.png" %}" alt="GUYandGIRL"/></div>
                    <div class="item"><img src="{% static "/images/brands/hitt.png" %}" alt="HITT"/></div>
                    <div class="item"><img src="{% static "/images/brands/kobi-karp.png" %}" alt="KOBI KARP"/></div>
                    <div class="item"><img src="{% static "/images/brands/wade-allyn-hallock.png" %}" alt="WADE ALLIYN HALOCK"/></div>
                    <div class="item"><img src="{% static "/images/brands/mi-call.png" %}" alt="MiCal"/></div>
                    <div class="item"><img src="{% static "/images/brands/stellar.png" %}" alt="STELLAR"/></div>
                    <div class="item"><img src="{% static "/images/brands/staarchitectural-group.png" %}" alt="STAARCHITECTURAL GROUP"/></div>
                    <div class="item"><img src="{% static "/images/brands/creme.png" %}" alt="CREME"/></div>
                    <div class="item"><img src="{% static "/images/brands/dds.png" %}" alt="DSS"/></div>
                    <div class="item"><img src="{% static "/images/brands/ibt.png" %}" alt="IBT"/></div>
                    <div class="item"><img src="{% static "/images/brands/the-parker-company.png" %}" alt="THE PARKER COMPANY"/></div>
                    <div class="item"><img src="{% static "/images/brands/claro.png" %}" alt="CLARO"/></div>
                    <div class="item"><img src="{% static "/images/brands/weitz.png" %}" alt="WEITZ"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

