{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>Portfolio - Lignum Custom Desing</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="offset"></div>
    <div class="dark-wrapper">
        <div class="container inner"><h3 class="main-title text-center no-line"><strong>Portfolio</strong></h3>
            <div class="divide20"></div>
            <div class="portfolio-grid detailed col4">
                <div class="isotope-filter button-group box">
                    <ul>
                        <li><a class="button is-checked" data-filter="*">All</a></li>
                        <li><a class="button" data-filter=".commercial">Commercial</a></li>
                        <li><a class="button" data-filter=".residencial">Residencial</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="items-wrapper">
                    <div class="isotope items">
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/the-conrad-hotel/the-conrad-hotel-01.jpg" %}" class="fancybox-media" data-rel="the-conrad-hotel">
                                <div class="text-overlay" title="The Conrad Hotel"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/the-conrad-hotel/the-conrad-hotel-01-400x300.jpg" %}" alt="The Conrad Hotel"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/the-conrad-hotel"%}" title="View details">The Conrad Hotel</a></h4>
                                <span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/tapas-tintos-south-beach/tapas-tintos-south-beach-2.jpg"%}" class="fancybox-media" data-rel="tapas-tintos-south-beach">
                                <div class="text-overlay" title="Tapas &amp; Tintos South Beach"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/tapas-tintos-south-beach/tapas-tintos-south-beach-2-400x300.jpg"%}" alt="Tapas &amp; Tintos South Beach"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/tapas-tintos-south-beach"%}" title="View details">Tapas &amp; Tintos South Beach</a></h4>
                                <span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/sheraton-four-points-hotel/sheraton-four-points-hotel-1.jpg"%}" class="fancybox-media" data-rel="sheraton-four-points-hotel">
                                <div class="text-overlay" title="Sheraton Four Points Hotel"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/sheraton-four-points-hotel/sheraton-four-points-hotel-1-400x300.jpg"%}" alt="Sheraton Four Points Hotel"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/sheraton-four-points-hotel"%}" title="View details">Sheraton Four Points Hotel</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/bodega-south-beach/bodega-south-beach-1.jpg"%}" class="fancybox-media" data-rel="bodega-south-beach">
                                <div class="text-overlay" title="Bodega South Beach"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/bodega-south-beach/bodega-south-beach-1-400x300.jpg"%}" alt="Bodega South Beach"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/bodega-south-beach"%}" title="View details">Bodega South Beach</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/porfirio-restaurant/pofirio-restaurant-6.jpg"%}" class="fancybox-media" data-rel="porfirios-restaurant">
                                <div class="text-overlay" title="Porfirio&#039;s Restaurant">
                                    <div class="info"><span>View Larger</span></div>
                                </div>
                                <img src="{% static "/images/projects/porfirio-restaurant/pofirio-restaurant-6-400x300.jpg"%}" alt="Porfirio&#039;s Restaurant"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/porfirio-restaurant"%}" title="View details">Porfirio&#039;s Restaurant</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/shelborne-lounge-bar/shelborne-lounge-bar-1.jpg"%}" class="fancybox-media" data-rel="shelborne-lounge-bar">
                                <div class="text-overlay" title="Shelborne Lounge Bar"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/shelborne-lounge-bar/shelborne-lounge-bar-1-400x300.jpg"%}" alt="Shelborne Lounge Bar"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/shelborne-lounge-bar"%}" title="View details">Shelborne Lounge Bar</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item residencial">
                            <figure><a href="{% static "/images/projects/garcia-residence/garcia-residence-3.jpg"%}" class="fancybox-media" data-rel="garcia-residence">
                                <div class="text-overlay" title="Garcia Residence"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/garcia-residence/garcia-residence-3-400x300.jpg"%}" alt="Garcia Residence"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/garcia-residence"%}" title="View details">Garcia Residence
                            </a></h4><span class="meta category">residencial</span></div></div>
                        <div class="item residencial">
                            <figure><a href="{% static "/images/projects/ramos-residence/ramos-residene-4.jpg"%}" class="fancybox-media" data-rel="ramos-residence">
                                <div class="text-overlay" title="Ramos Residence"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/ramos-residence/ramos-residene-4-400x300.jpg"%}" alt="Ramos Residence"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/ramos-residence"%}" title="View details">Ramos Residence
                            </a></h4><span class="meta category">residential</span></div></div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/menin-hotels-office/menin-hotel-office-1.jpg"%}" class="fancybox-media" data-rel="menin-hotels-office">
                                <div class="text-overlay" title="Menin Hotels Office"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/menin-hotels-office/menin-hotel-office-1-400x300.jpg"%}" alt="Menin Hotels Office"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/menin-hotels-office"%}" title="View details">Menin Hotels Office</a></h4><span class="meta category">commercial</span></div></div>
                        <div class="item residencial">
                            <figure><a href="{% static "/images/projects/jahiro-residence/jahiro-residence-1.jpg"%}" class="fancybox-media" data-rel="jahiro-residence">
                                <div class="text-overlay" title="Jahiro Residence"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/jahiro-residence/jahiro-residence-1-400x300.jpg"%}" alt="Jahiro Residence"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/jahiro-residence"%}" title="View details">Jahiro Residence</a></h4><span class="meta category">residential                             </span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/ritz-carlton-palm-beach/ritz-carlon-palm-beach-2.jpg"%}" class="fancybox-media" data-rel="ritz-carlton-palm-beach">
                                <div class="text-overlay" title="Ritz-Carlton Palm Beach"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/ritz-carlton-palm-beach/ritz-carlon-palm-beach-2-400x300.jpg"%}" alt="Ritz-Carlton Palm Beach"/></a></figure><div class="box"><h4 class="post-title"><a href="{% static "images/projects/ritz-carlton-palm-beach"%}" title="View details">Ritz-Carlton Palm Beach</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/the-fillmore-miami-beach/the-filmore-miami-beach-2.jpg"%}" class="fancybox-media" data-rel="the-filmore-miami-beach">
                                <div class="text-overlay" title="The Fillmore Miami Beach"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/the-fillmore-miami-beach/the-filmore-miami-beach-2-400x300.jpg"%}" alt="The Fillmore Miami Beach"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="{% static "images/projects/the-fillmore-miami-beach/the-filmore-miami-beach-2.jpg"%}" title="View details">The Fillmore Miami Beach</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/hilton-fort-lauderdale-resort/hilton-ford-lauderdale-resort-2.jpg"%}" class="fancybox-media" data-rel="hilton-fort-laurdale-resort">
                                <div class="text-overlay" title="Hilton Fort Lauderdale Resort"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/hilton-fort-lauderdale-resort/hilton-ford-lauderdale-resort-2-400x300.jpg"%}" alt="Hilton Fort Lauderdale Resort"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Hilton Fort Lauderdale Resort</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/ilios-restaurant/ilios-restaurant-7.jpg"%}" class="fancybox-media" data-rel="ilios-restaurant">
                                <div class="text-overlay" title="Ilios Restaurant"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/ilios-restaurant/ilios-restaurant-7-400x300.jpg"%}" alt="Ilios Restaurant"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Ilios Restaurant</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/23rd-festival-of-the-trees/23rd-festival-of-the-trees-2.jpg"%}" class="fancybox-media" data-rel="festival-of-the-tree">
                                <div class="text-overlay" title="23rd Festival of the Trees"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/23rd-festival-of-the-trees/23rd-festival-of-the-trees-2-400x300.jpg"%}" alt="23rd Festival of the Trees"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">23rd Festival of the Trees</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/guy-girl/guy-girl-3.jpg"%}" class="fancybox-media" data-rel="guy-and-girl">
                                <div class="text-overlay" title="Guy &amp; Girl"><div class="info"><span>View Larger</span></div>
                                </div>
                                <img src="{% static "/images/projects/guy-girl/guy-girl-3-400x300.jpg"%}" alt="Guy &amp; Girl"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Guy &amp; Girl
                            </a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/bar-tanaka/bar-tanaka-2.jpg"%}" class="fancybox-media" data-rel="bar-tanaka">
                                <div class="text-overlay" title="Bar Tanaka"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/bar-tanaka/bar-tanaka-2-400x300.jpg"%}" alt="Bar Tanaka"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Bar Tanaka</a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item residencial">
                            <figure><a href="{% static "/images/projects/macias-residence/macias-residence-3.jpg"%}" class="fancybox-media" data-rel="macias-residence">
                                <div class="text-overlay" title="Macias Residence"><div class="info"><span>View Larger</span></div>
                                </div>
                                <img src="{% static "/images/projects/macias-residence/macias-residence-3-400x300.jpg"%}" alt="Macias Residence"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Macias Residence</a></h4><span class="meta category">residencial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/vesper-restaurant/vesper-restaurant-1.jpg"%}" class="fancybox-media" data-rel="vesper-restaurant">
                                <div class="text-overlay" title="Vesper Restaurant"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/vesper-restaurant/vesper-restaurant-1-400x300.jpg"%}" alt="Vesper Restaurant"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Vesper Restaurant
                            </a></h4><span class="meta category">commercial</span></div>
                        </div>
                        <div class="item commercial">
                            <figure><a href="{% static "/images/projects/shelborne-hotel/shelborne-hotel-1.jpg"%}" class="fancybox-media" data-rel="shelborne-hotel">
                                <div class="text-overlay" title="Shelborne Hotel"><div class="info"><span>View Larger</span></div></div>
                                <img src="{% static "/images/projects/shelborne-hotel/shelborne-hotel-1-400x300.jpg"%}" alt="Shelborne Hotel"/></a></figure>
                            <div class="box"><h4 class="post-title"><a href="" title="View details">Shelborne Hotel</a></h4><span class="meta category">commercial</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}